html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color-dark);  
  background-color: var(--background-dark);
}

html {
  --background-dark: #15141D;
  --text-color-dark: #8c8997;
  --text-color-light: black;
  --background-light: green;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
